
.creative{
    color:rgb(17, 61, 97);
}
.furkan{
    width: 300px;
    border-radius: 25%;
    margin-right: 100px;
    margin-left: 150px;
    
    
}
.div1{
    display: flex;
    margin-top: 300px;  
    text-align: center;
}
.bas{
    font-size: 3rem;
    color: rgb(17, 61, 97);
    margin-left: 200px;
    margin-top: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.fekiz1{
    text-align: left;
    color: rgb(17, 61, 97);
    font-size: 2rem;
}
body{
    background-color:rgb(207, 207, 207);
}
.div2{
    margin-top: 200px;
}
h6{
    color:chocolate;
    font-size: 2rem;;
    text-align: center;
}
.skill{
    margin-top: 400px;
    width: 600px;
    margin: 400px auto;
    color:rgb(17, 61, 97);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 25), 0 10px 10px rgb(0, 0, 0,0.22);
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 3px solid rgba(0, 0, 0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 12), 0 10px 10px rgba(0, 0, 0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 25), 0 10px 10px rgba(0, 0, 0,0.22);
}
.bar span{
    height: 50px;
    float: left;
    background: linear-gradient(135deg, rgb(71, 112, 99)0%,rgba(252,103,103,1)100%);
}
.html{
    width: 30%;
    animation:html 3s;
   
}
.css{
    width: 30%;
    animation:css 3s;
}
.C{
    width: 40%;
    animation: 3s;
}
.Java{
    width: 40%;
    animation:Java 3s;
}
.python{
    width: 20%;
    animation: 3s;
}